.login {
  display: flex;
  min-height: 100vh;
  margin-top: -4rem;
  margin-left: -180px;
  
  &__side {
    flex: 1;
    background-image: url('../../assets/img/illu-login-3.svg');
    background-size: cover;
    background-position: center top;
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__content {
    flex: 1.5;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


  .title {
    margin-bottom: 20px;
  }

  .subtitle {
    margin-bottom: 40px;
  }

  &__form {
    width: 100%;
    max-width: 300px;

  }
}