.menu-list a {
  // font-size: 14px;
  display: flex;
  align-items: center;
}
.menu-list a .icon {
  width: 2rem;
}

.justify-left {
  justify-content: left;
}

.table td {
  vertical-align: middle;
}

button.dropdown-item.button .icon {
  transform: translateY(1.5px);
}
a.dropdown-item {
  justify-content: start;
  border: none;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: $dark-10;
}