.menu-list a {
  // font-size: 14px;
  display: flex;
  align-items: center;
}
.menu-list a .icon {
  width: 2rem;
}

.justify-left {
  justify-content: left;
}

.table td {
  vertical-align: middle;
}