.menu-list a {
  // font-size: 14px;
  display: flex;
  align-items: center;
}
.menu-list a .icon {
  width: 2rem;
}

.justify-left {
  justify-content: left;
}

.table td {
  vertical-align: middle;
}

a.dropdown-item {
  justify-content: start;
  border: none;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: $dark-10;
}
.select:not(.is-multiple):not(.is-loading):hover::after {
  border-color: $dark-30;
}

// .label:not(:last-child) {
//   margin-bottom: 2px;
// }

.buttons.has-addons {
  label.button.is-primary.is-light {
    border-color: $border;
  }
}

.dropdown-item .icon,
.control > .checkbox.flex > input,
td .icon {
  transform: translateY(1.5px);
}

input[type="time"] {
  width: auto;
  &::-webkit-clear-button {
    -webkit-appearance: none;
  }
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.notification:not(:last-child), .message:not(:last-child) {
  // margin: initial;
  &.mb3 { 
    margin-bottom: 2rem;
  }
}

.input[disabled] {
  cursor: initial;
}

.tag:not(body).is-delete:hover, .tag:not(body).is-delete:focus {
  background-color: $orange-light;
}