.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "nav main";
  grid-template-columns: auto 1fr;
  grid-template-rows: 64px 1fr;
}

.header {
  grid-area: header;
  border-bottom: 1px solid $dark-10;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.menu {
  grid-area: nav;
  width: 164px;
  padding: 40px 24px;
  background-color: $white;
  border-right: 1px solid $dark-10;
  font-size: 1.2rem;
  
}
.main {
  grid-area: main;
}

.create, .list-page {
  padding: 64px 104px;
  min-height: 100%;
}

.navbar-brand {
  justify-content: space-between;
  width: 98%;
}
