.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "nav main";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  font-family: 'HKGrotesk-Regular';
}

.menu {
  grid-area: nav;
  width: 164px;
  padding: 32px 16px 0 16px;
  background-color: $white;
  border-right: 1px solid $dark-10;
  font-size: 1.2rem;
  
}
.main {
  grid-area: main;
  overflow: auto;
}

.create, .list-page {
  padding: 64px 104px;
  min-height: 100%;
}