.center {
  text-align: center;
}

.w100 {
  width: 100%;
}

.go-to-right {
  margin-left: auto;
}

.padding16 {
  padding: 0 16px;
}

.lh-1 {
  line-height: 1;
}

.mr05 {
  margin-right: 0.25rem;
}
.my05 {
  margin-top: 0.25rem;
}
.my05, .mb05 {
  margin-bottom: 0.25rem;
}

.pointer {
  cursor: pointer;
}

.border-bottom {
  border-color: $dark-10;
}

.hidden {
  visibility: hidden;
}

.fade-in {
  animation: fade-in 0.3s linear;
}
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.toast {
  animation: toast 5s forwards;
}
@keyframes toast {
  0% { opacity: 0; transform: translateY(150%); }
  5% { opacity: 1; transform: translateY(0); }
  95% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(150%); }
}