$darkColor: #363636;
$midColor: #575757;

$header-height: 80px;
$nav-height-mobile: 56px;
$student-sidepanel-width: 400px;

$primaryColor: #cd654d;
$defaultFontColor: $midColor;
$baseFontSize: 12px;
$defaultFontSize: 1.2rem;
$errorColor: #d84141;
$background-color: white;
