//partials
@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/fontface';
@import 'partials/base';
@import 'partials/utils';
@import 'partials/main';


// bulma

$red: #FF6D6D;
$green: #306060;
$white-ter: #FCFCFB;
$grey-darker: #181B1B;
// $primary: #F98560;
$primary: $green;
$success-dark: $green;
$success-light: #EBF0F0;

$size-3: 22px;
$size-4: 18px;
$size-5: 16px;
$size-6: 14px;

$family-sans-serif: "HKGrotesk-Regular", sans-serif;

$label-weight: normal;
$table-cell-padding: 0.75em 1.5em 0.75em 1em;

@import 'components/header';
@import 'components/share-link';

@import 'pages/login';
@import 'pages/create';

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";

@import 'partials/bulmaOverride';